---
http_interactions:
- request:
    method: get
    uri: http://hummingbird.me/api/v1/search/anime?query=Log%20Horizon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"e09678fecd61a83350a32fe0eba28962"
    body:
      encoding: UTF-8
      string: "[{\"id\":7622,\"slug\":\"log-horizon\",\"status\":\"Finished Airing\",\"url\":\"https://hummingbird.me/anime/log-horizon\",\"title\":\"Log
        Horizon\",\"alternate_title\":\"\",\"episode_count\":25,\"episode_length\":25,\"cover_image\":\"https://static.hummingbird.me/anime/poster_images/000/007/622/large/b0012149_5229cf3c7f4ee.jpg?1408461927\",\"synopsis\":\"The
        story begins when 30,000 Japanese gamers are trapped in the fantasy online
        game world Elder Tale. What was once a sword-and-sorcery world is now the
        real world. The main lead Shiroe attempts to survive with his old friend Naotsugu
        and the beautiful assassin Akatsuki.\\r\\n(Source: ANN)\",\"show_type\":\"TV\",\"started_airing\":\"2013-10-05\",\"finished_airing\":\"2014-03-22\",\"community_rating\":4.16519124505186,\"age_rating\":\"PG13\"},{\"id\":8114,\"slug\":\"log-horizon-recap\",\"status\":\"Finished
        Airing\",\"url\":\"https://hummingbird.me/anime/log-horizon-recap\",\"title\":\"Log
        Horizon Recap\",\"alternate_title\":\"\",\"episode_count\":1,\"episode_length\":58,\"cover_image\":\"https://static.hummingbird.me/anime/poster_images/000/008/114/large/56085.jpg?1408463493\",\"synopsis\":\"Recap
        of the first six episodes of Log Horizon, aired between episode 6-7.\",\"show_type\":\"Special\",\"star[...]
